/*
  START UNIVERSAL
*/
.App {
  text-align: center;
}

/*
  END UNIVERSAL
*/

/*
  START HEADER
*/

.App-logo {
  width: 180px;
  pointer-events: none;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 250px 1fr;
  align-items: center;
}

.App-header {
  background-color: #022d5b;
  color: white;
  text-align: left;
  padding: 10px 20px;
}

.App-header img {
  background: white;
}

.App-header h1 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 1px;
}

.App-header p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 200;
}

/*
  END HEADER
*/

/*
  START DROPDOWN CONTAINER
*/

.dropdown-container {
  padding: 2%;
  background: #f1f1f1;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.dropdown-container p {
  margin-top: 0;
}



select.dropdown {
  font-family: inherit;
  font-size: 17px;
}

.recharts-surface {
  overflow: visible;
}

h2.chart-header {
  font-size: 21px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/*
  END DROPDOWN CONTAINER
*/

/*
  START CHART AREA CONTAINERS
*/

.grid {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 20px;
  padding: 0 5%;
  align-items: center;
}

.grid .text {
  padding: 20px;
  background: #f8f8f8;
}

.section-container:nth-child(2) .grid {
  grid-template-columns: 1fr 30%;
  grid-template-areas: "b a";
}

.section-container:nth-child(2) .grid .text {
  grid-area: a;
}

a.indicator-btn {
  padding: 7px 10px;
  background: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 15px 0;
  transition: 0.5s background;
}

a.indicator-btn:hover {
  background: #022d5b;
  transition: 0.5s background;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

.section-container {
  border-bottom: 3px solid #e8e8e8;
  padding: 50px 0 65px;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s;
}


/*
  END CHART AREA CONTAINERS
*/

/*
  START ERROR CSS
*/

.error-hide .error-msg {
  display: none;
}

.error-show .explore-header, .error-show .chart-draw {
  display: none;
}

p.error-msg {
  font-size: 15px;
  font-style: italic;
}

/*
  END ERROR CSS
*/

/*
  START MEDIA QUERIES
*/

@media only screen and (max-width:450px) {
  .section-container:nth-child(2) .grid, .section-container .grid, .header {
    grid-template-columns: 100%;
    grid-template-areas:
        "a"
        "b";
  }
}